<h1>Edit Article</h1>

<% if current_user %>
    <% if current_user.email == 'danyatimachov@gmail.com' %>
        <%= render "form", article: @article %>
    <% else %>
        Only admin can edit articles
    <% end%>
<% else %>
    Unauthorized
<% end %>