<h1>New Article</h1>

<% if current_user %>
    <% if current_user.email == 'danyatimachov@gmail.com' %>
        <%= render "form", article: @article %>
    <% else %>
        Only admin can create articles
    <% end %>
<% else %>
    Unauthorized
<% end %>