<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhaddLog | Welcome</title>
</head>
<body>
    <div class="main">
        <div class="topnav">
            <a class="active" href="/articles">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div class="hello-world">
            <h1 id="hello-world">
                Hello, World!
            </h1>
            <h3 id="sub-hello-world">
                I’m <strong>Dan</strong> and I’m into <i>AI</i>, <i>ML</i> and bunch of <i>other stuff</i>, which I am sharing here.
            </h3>
        </div>
    </div>
</body>
</html>